# vim: ft=sls

ssh-tunnel:
  adam.jensen:
    fullname: Adam Jensen
    home: /home/eliza # Defaults to /home/<username>
    allowed_hosts:
      - localhost:443
      - localhost:8080
    pubkeys:
      - ssh-ed25519 AAAAC.... Adam Jensen <adam@deusex.universe>
