# vim: ft=sls

ssh-tunnels:
    adam.jensen:
      fullname: Adam Jensen
      allowed_hosts:
        - localhost:443
        - localhost:8080
      pubkeys:
        - ssh-ed25519 AAAAC.... Adam Jensen <adam@deusex.universe>
